body {
	background:#f6f6f6;
}
pre {
	background:#1b1b1b;
	color:white;
}

.heading-code {
	color:#999999;
	font-size:1.4em;
	font-variant:small-caps;
}
.inline-code {
	background:gray;
	font-weight:bold;
	padding:0 5px 0 5px;
}
.next-section-div {
	background:#66ffcc;
	color:#1b1b1b;
	display:inline;
	padding:8px;
}
.diary-entry-container {
	background:#cacaca;
	color:#202020;
	margin:2px 0 2px 0;
	padding:8px;
}
#diary-entry-container-submitted {
	background:#3e7bce;
	color:#f5f5f5;
}
#submit-ok {
	color:#b4e961;
	font-size:2em;
}
.highlight {
	color:#66ffcc;
}